/*Remove all padding and margin on the end*/
*{padding: 0;
margin: 0;
font-family: sans-serif;
}

/*-----Header Section--------*/
.header-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*Navigation bar*/
.topnav{
    background-color: #567c8d;
    overflow: hidden;
    height:40px;
    width: 100%;
    font-size: 1em;
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none; /*remove hyperlink underline*/
    height:100%;
    padding:11px 12px 0px 12px;
    background-color:#567c8d;
    color: white;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #F5EFEB;
    color: black;
  }

/*About Me*/
#About-Me{
    background-color: #c8d9e6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

/*My photo*/
#Photo-grid{
    overflow: hidden;
}

#my-photosec{
  height: 100%; 
  width: 100%; 
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

#my-photo{
    z-index:1;
    height: 80%;
    object-fit: cover;
    background-color:transparent;
}

#photo-shadow{
    z-index: 0;
    height: 90%;
    width: 40%;
    border-radius: 500px 500px 0px 0px;
    display: inline-block;
    background-color:#F5EFEB;
    position: absolute;
}


/*About Me text*/
#header-text-grid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-text{
    background-color:#567c8d;
    padding: 30px;    
    box-shadow:20px 20px #F5EFEB;
    color: #F5EFEB;
}

/*contact section*/
#contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.contact-logo{
    height: 50px;
    background-color: white;
    border-radius: 8px;
}

/*Content Section*/
h2{
    font-size: 2rem;
}

.sects{
    padding: 6% 8% 0;
}

.content{
    background-color: #F5EFEB;
}

/*My Skills section*/
#skills-flex{
    display: flex;
    justify-content: space-evenly;
}

.skills-logo{
    height: 10rem;
}


/*Footer Section*/
footer{
    background-color: #567c8d;
    color: #ddd;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 500px) { 
    
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        height: auto;
        width: 100%;
        overflow: hidden;
    }

    #header-text{
        height:auto;
        padding-left: auto;
        background-color: #ddd;
        opacity: 100%;
        position: static;
        margin-top: 30px;
        text-align: center;
    }

    #my-photo{
        object-fit: cover;
        height: 30%;
        float: none;
        border-radius: 50%;

    }
}