/*Remove all padding and margin on the end*/
*{padding: 0;
margin: 0;
font-family: sans-serif;
}

/*-----Header Section--------*/
.header-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*Navigation bar*/
.topnav{
    background-color: #567c8d;
    overflow: hidden;
    height:40px;
    width: 100%;
    font-size: 1em;
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none; /*remove hyperlink underline*/
    height:100%;
    padding:11px 12px 0px 12px;
    background-color:#567c8d;
    color: black;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #F5EFEB;
  }

/*About Me*/
#About-Me{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

/*My photo*/
#Photo-grid{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-photo{
    height: 50%;
}

/*About Me text*/
#header-text-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-text{
    background-color: #F5EFEB;
    padding: 30px;
}

/*contact section*/
#contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.contact-logo{
    height: 50px;
}

/*Content Section*/
h2{
    font-size: 2rem;
}


.content{
    background-color: #F5EFEB;
}

.skills-logo{
    height: 10rem;
}

.sects{
    height: 100vh;
}


/*Footer Section*/
footer{
    background-color: #567c8d;
}

@media screen and (max-width: 500px) { 
    
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        height: auto;
        width: 100%;
        overflow: hidden;
    }

    #header-text{
        height:auto;
        padding-left: auto;
        background-color: #ddd;
        opacity: 100%;
        position: static;
        margin-top: 30px;
        text-align: center;
    }

    #my-photo{
        object-fit: cover;
        height: 30%;
        float: none;
        border-radius: 50%;

    }
}